body {
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  text-align: center;
}

.titulo {
  margin: 0;
  align-items: flex-start;
}

header {
  display: flex;
  position: relative;
}

h1 {
  position: absolute;
  left: 50vw;
  transform: translateX(-50%);
}